@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
    --body-bg-color: #0c0c0c;
    --body-text-color: white;
    --primary-gradient: linear-gradient(45deg, #f4bc60, #dc2c68, #7539a0);
    --secondary-gradient: linear-gradient(45deg, black, #684cc4);
    --timer-bg-color: white;
    --timer-text-color: black;
    --border-color: #ccc;
}


body {
    background-color: var(--body-bg-color);
    color: var(--body-text-color);
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    line-height: 1.8em;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    background: var(--primary-gradient);
    padding: 10px 0px;
    text-align: center;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.moeda-caindo {
    position: absolute;
    top: 0;
    left: calc(90vw - 20px);
    width: 30px;
    height: 30px;
    pointer-events: none;
    background: url("assets/moeda.png") center/cover no-repeat;
    animation: fall 1.5s linear infinite;
    z-index: -1;
}

@keyframes fall {
    from {
        transform: translateY(-10vh);
    }
    to {
        transform: translateY(30vh);
    }
}

.timer {
    display: inline-block;
    background-color: var(--timer-bg-color);
    color: var(--timer-text-color);
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

#introducao{
    background: var(--secondary-gradient);
    padding: 20px;
    text-align: center;
}

video {
    width: 640;
    height: 360;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

#container-conteudos, #container-beneficios, #container-relatos {
    padding: 20px 0;
    overflow: hidden;
    position: relative;
}

hr.divider {
    margin: 10px 0px;
    border: none;
    border-top: 2px solid var(--border-color);
}

#container-beneficios img{
    width: 100%;
    max-width: 360px;
    height: auto;
    display: block;
    margin: 0 auto;
}


.controles-carrossel {
    text-align: center;
    margin-top: 10px;
}

.controles-carrossel button {
    background-color: #684cc4;
    color: white;
    padding: 5px 10px;
    margin: 0 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.conteudos, .beneficios, .relatos {
    margin-bottom: 20px;
}

#cta {
    background: var(--primary-gradient);
    padding: 20px;
    text-align: center;
}

#cta a {
    color: white;
    text-decoration: none;
}

#cta p {
    font-size: 18px;
}

#cta p span {
    text-decoration: line-through;
}

#cta p.preco {
    margin-bottom: 45px;
}

.lista-relatos img{
    width: 80;
    height: 80;
    width: 35%;
}

footer {
    background: var(--secondary-gradient);
    color: white;
    text-align: center;
    padding: 20px;
}

footer nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

footer nav a {
    color: white;
    margin: 5px 0;
}

button,
.btn-cta {
    padding: 15px 30px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#introducao button {
    background: var(--primary-gradient);
    color: white;
}

.btn-cta, header button {
    background: var(--secondary-gradient);
    color: white;
    text-decoration: none;
    margin: 10px;
}

@media screen and (min-width: 769px) {
    body {
        font-size: 20px;
    }

    header {
        padding: 10px 0;
        
    }

    main {
        padding: 10px;
    }

    .moeda-caindo {
        width: 50px;
        height: 50px;
        left: calc(90vw - 50px);
    }

    .btn-cta, button{
        font-size: 24px;
    }

    .lista-conteudos, .lista-beneficios, .lista-relatos {
        display: flex;
        flex-direction: row;
    }

    .lista-beneficios, .lista-relatos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .beneficios, .relatos {
        flex: 0 0 calc(33.33% - 20px);
        margin-bottom: 20px;
    }

    .beneficios img, .relatos img {
        width: 60%;
        max-width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    .beneficios h1, .beneficios p, .relatos h1,
    .relatos p {
        text-align: center;
    }

    .controles-carrossel {
        display: none;
    }

    footer nav {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    
    footer nav a {
        margin: 40px 20px;
        color: white;
    }
}

@media screen and (min-width: 1000px) {
    body{
        font-size: 24px;
    }

    button, .btn-cta{
        padding: 1.5vw 3vw;
    }

    .moeda-caindo {
        width: 80px;
        height: 80px;
        left: calc(90vw - 100px);
    }
}